/* <!-- header image or tex part --> */
*
header{
    background-color: black;
    font-family:'poppins',sans-serif;
    color: #fff;
    width: 921px;
    height: 376px;
    border-radius: 10px;
    margin-left: 5%;
}
.banner-tex{
padding-top: 10px;
padding-left: 30px;
}
.great{
color:tomato;
}
nav a{
text-decoration: none;
background-color:red;
border-radius:2px;
padding: 6px;
color: #fff;

}
#header-img{
    position:relative;
    left: 55%;
    top: -208px;
}
.End-part{
    color: #fff;
    text-align: center;
    padding-top: 100px;
}
hr{
    width: 80%;
}
    
.anchor li a{
position: relative;
left: 25%;
text-decoration: none;
color:gray;
font-size: small;
margin-right: 10px;


}

footer{
    background-color: black;
    height: 250px;
}






 

